<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Test Suite" verbose="10">
    <test name="Application Test" preserve-order="true">  
        <parameter name="browser" value="chrome"></parameter>
        
        <groups>
        	<run>
        		<include name = "smoke"></include>
        	</run>
        </groups>
        
        <classes>
            <class name="testClasses.TestClass"></class>
        </classes>

    </test>

</suite>